<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.est7.demoproject">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".retrofit.RetrofitActivity">
        </activity>
        <activity android:name=".dragger.DaggerActivity">
        </activity>
        <activity android:name=".generic.GenericActivity">
        </activity>
        <activity
            android:name=".mvp.MvpLoginActivity"
            android:label="@string/title_activity_mvp_login">
        </activity>
        <activity android:name=".rxjava.Rxjava2Activity">
        </activity>
        <activity android:name=".jsbridge.ViewActivity">
        </activity>
        <activity android:name=".allstatusview.StatusActivity">
        </activity>
        <activity android:name=".swipeback.SwipBackActivity">
        </activity>
        <activity android:name=".expandtext.ExpandTextActivity">
        </activity>
        <activity android:name=".ListViewPager.ListViewPagerActivity">
        </activity>
        <activity android:name=".editview.EditTextActivity">
        </activity>
        <activity android:name=".animation.AnimationActivity">
        </activity>
        <activity android:name=".tinker.TinkerActivity">
        </activity>
    </application>


    <service
        android:name=".tinker.service.SampleResultService"
        android:exported="false"
        />
</manifest>